@import 'vars';

.expert_box {
  // --accent-color: #{$blue};
  margin-bottom: 2rem;

  .image_wrap {
    width: 40vw;
    height: 40vw;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 0 1em 0.5em 0;
    float: left;

    img {
      width: 100%;
      margin-top: -1.2em;
    }
  }

  .content_wrap {
    margin-left: 2em;

    *:last-child {
      margin-bottom: 0;
    }

    *:first-child {
      margin-top: 0;
    }
  }

  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;

    .content_wrap {
      max-width: 60%;
    }

    .image_wrap {
      width: 15em;
      height: 15em;
    }
  }
}
