@import 'vars';

body {
  font-weight: $fontLight;
  font-family: $fontText;
  background-color: $warmWhite;
  color: $warmBlack;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url('./images/empfang.png');

  &.teal {
    --accent-color: #{$teal};
    --accent-color-darked: #{darken($teal, 10%)};
    --secondary-color: #{$teal};
    --secondary-color-darked: #{darken($teal, 10%)};
  }
  &.green {
    --accent-color: #{$green};
    --accent-color-darked: #{darken($green, 10%)};
    --secondary-color: #{$green};
    --secondary-color-darked: #{darken($green, 10%)};
  }
  &.red {
    --accent-color: #{$red};
    --accent-color-darked: #{darken($red, 10%)};
    --secondary-color: #{$red};
    --secondary-color-darked: #{darken($red, 10%)};
  }
  &.orange {
    --accent-color: #{$orange};
    --accent-color-darked: #{darken($orange, 10%)};
    --secondary-color: #{$orange};
    --secondary-color-darked: #{darken($orange, 10%)};
  }
  &.yellow {
    --accent-color: #{$yellow};
    --accent-color-darked: #{darken($yellow, 10%)};
    --secondary-color: #{$yellow};
    --secondary-color-darked: #{darken($yellow, 10%)};
  }
}

p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  margin: 1rem 0 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontHeadline;
  font-weight: $fontRegular;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: table;
  position: relative;
  &::after {
    content: '';
    height: 0.2em;
    z-index: 0;
    position: absolute;
    bottom: -0.1em;
    left: 0;
    right: 0;
    background-color: $defaultSecondaryColor;
    background-color: var(--secondary-color, $defaultSecondaryColor);
  }
}

table tr:nth-child(even),
code,
.highlighter-rouge .highlight {
  background-color: $warmWhite2;
}

table th {
  background-color: darken($warmWhite2, 2%);
}

a {
  font-weight: $fontBold;
  color: $defaultAccentColor;
  color: var(--accent-color, $defaultAccentColor);
  &:hover,
  &:active,
  &:focus {
    color: black;
  }
  &:visited {
    color: var(--accent-color-darked, darken($defaultAccentColor, 10%));
  }
}

hr {
  opacity: 0.8;
  border: 0.1em solid var(--accent-color, $defaultAccentColor);
  margin: 1rem;
}

main.page-content {
  max-width: $bigTablet;
  background: $warmWhite;
  padding: 0;
  margin: 2rem auto;

  @media (min-width: #{$bigTablet + $scrollBar}) {
    border-radius: $borderRadius;
  }
}

.wrapper {
  width: auto;
  max-width: calc(#{$bigTablet} - 6rem);
  padding: 2rem 3rem;
}
