$fontHeadline: 'Ubuntu', sans-serif;
$fontText: 'Merriweather', serif;
$fontLight: 300;
$fontRegular: 400;
$fontBold: 700;

$warmWhite: #fffefb;
$warmWhite2: #fffcf6;
$warmBlack: #2f2e2e;
$warmGray: #e8e8e2;

$red: #fb3145;
$orange: #f79107;
$yellow: #ffe30e;
$teal: #35c0d2;
$blue: #1d63ad;
$green: #4ea722;

$defaultAccentColor: $warmBlack;
$defaultSecondaryColor: $warmGray;

$bigPhone: 375px;
$tablet: 639px;
