$fontHeadline: 'Ubuntu', sans-serif;
$fontText: 'Merriweather', serif;
$fontLight: 300;
$fontRegular: 400;
$fontBold: 700;

$warmWhite: #fffefb;
$warmWhite2: #fffcf6;
$warmBlack: #2f2e2e;
$warmGray: #e8e8e2;

$red: #fa706b;
$orange: #f79107;
$yellow: #ffe30e;
$teal: #35c0d2;
$blue: #1d63ad;
$green: #8ed05c;

$defaultAccentColor: $warmBlack;
$defaultSecondaryColor: $warmGray;

$borderRadius: 4px;
$scrollBar: 16px;
$bigPhone: 375px;
$tablet: 639px;
$bigTablet: 800px;
$bigScreen: 1280px;
